<!-- registroAlumnos/templates/registroAlumnos/listarAlumno.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos</h1>
    <a href="{% url 'crearAlumno' %}">Crear nuevo alumno</a>
    <ul>
        {% for alumno in alumnos %}
            <li>{{ alumno.nombres }} {{ alumno.apellidos }} - {{ alumno.carnet }} - {{ alumno.correoElectronico }} - {{ alumno.fechaNacimiento }}
                <a href="{% url 'modificarAlumno' alumno.id %}">Editar</a>
                <a href="{% url 'eliminarAlumno' alumno.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
